---
layout: whitePage
published: true
---

<!-- start of content -->
<div class="section col-1">
	<h3 class="grey">About</h3>
</div>
<div class="section col-2-5">
	<a data-flickr-embed="true" href="https://www.flickr.com/photos/worldstudio/albums/72157687574899282"
		title="AMPL!FY Installations"><img src="https://farm5.staticflickr.com/4567/37662565825_f366f1461f_z.jpg"
			alt="AMPL!FY Installations" /></a>
	<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

</div>

{% include rule-break.html %}


<!-- <div class="section col-2-5">
			
		</div>
			{% include single-break.html %} -->
<!-- <div class="section col-2-5"> -->
<div class="section col-2-3" id="individualSideOne">
	<h3 class="red editable">AMPL!FY is a public art and design initiative that partners an artist or designer with a
		non-profit organization working on the front lines of social justice to create thought-provoking posters on
		themes relevant to each organization.</h3>

</div>
<!-- </div> -->
<div class="section col-2-3">
	<!-- <div class="clear"><br /></div> -->
	<p class="grey editable">
		Organized by Make Art with Purpose (MAP) and Worldstudio, AMPL!FY took place in New York City from 2017 through
		2019. The project was produced in partnership with New York City Department of Transportation’s Art Program,
		Museum of Arts and Design and Harlem Stage. The posters were showcased on New York City Department of
		Transportation’s Art Program’s, as well as in an exhibition at the Museum of Arts and Design. In addition to
		streetscape installations and museum exhibition, AMPL!FLY included public programs to advance the project themes
		and to support the work of partnering non-profits. <br><br>

		We believe in an equitable, just and prosperous world for all people and promote these values by helping to
		sustain and support the mission of organizations working on social justice issues. These organizations often
		play a key role in protecting people’s inherent dignity, helping the underserved to achieve their full potential
		and practice uninhibited expression of their rights. The work of these organizations is circuitous, challenging
		and frequently lacks visibility. Typically, these organizations do not have the financial capacity to
		communicate their work beyond their core supporters. <br><br>

		In a time of heightened political and social tension, AMPL!FY was founded to amplify the issues addressed by
		non-profit organizations with missions that support the evolution of humanity as a whole.

	</p>
	<br />
</div>

<div class="section col-4-5">
	<!-- <h3>Team</h3> -->
	<p class="grey editable">
		<!-- <br />
		<br /> -->
		<strong>Founders + Creative Directors</strong> <br />
		Janeil Engelstad, Make Art with Purpose<br />
		Mark Randall, Worldstudio<br />
		<br />
		<strong>Copywriter</strong><br />
		Massimo Iacoboni<br />
		<br />
		<strong>Design + Production Team</strong><br />
		Olga Geletina<br />
		Matthew Horton<br />
		Lisa Mastroserio <br />
		Angelica del Rocio Dios Jaramillo<br />
		Tom Koken<br />
		<br />
		<strong>Project Support</strong><br />
		Andrea Pellegrino<br />
		<br />
		<strong>Additional Support</strong><br />
	The New School <br />
	Harvard University <br />
	Massimo Iacoboni<br /><br />

	<strong>Funding</strong> <br />
		Exposure NY<br />
		Embrey Family Foundation
	</p>


</div>



{% include rule-break.html %}

<div class="section col-1">
	<h3 class="grey">Organizers</h3>
</div>

<div class="section col-2-3 content-chunk">
	<p class="grey editable"> <strong class="name"> Make Art with Purpose</strong><br>
	Founded on the belief that artists and designers have the knowledge and skills to make
		positive, lasting environmental and social change, MAP exists to make a constructive contribution to education,
		social justice, climate change, immigration and other critical issues that are shaping the world.
	</p>
	<div class="img-feature-container">
		<a href="http://www.makeartwithpurpose.net/"><img src="img/partners/map.svg"
				alt="Organizer: Make Art with Purpose" class="half" /></a>
	</div>
</div>

<div class="section col-4-5">
	<p class="grey editable"> <strong class="name">Worldstudio</strong> <br>
		We believe that creativity holds enormous power to spark positive social change. Thru
		Design Ignites Change &ndash; a Worldstudio social initiative &ndash; we support creative professionals and
		students who use design thinking &ndash; the combination of unleashed creativity and executable actions &ndash;
		to improve the lives of individuals and communities.</p>
	<div class="logos img-feature-container">
		<a href="http://worldstudioinc.com/"><img src="img/partners/worldstudio.svg"
				alt="Organizers: Worldstudio Social Initiatives" class="half" /></a>
	</div>
</div>

{% include rule-break.html %}

<div class="section col-1">
	<h3 class="grey">Partners</h3>
</div>

<div class="section col-2-5 content-chunk">

	<ul class="logos">

		{% for partner_item in site.partner %}

		{% if partner_item.partner_logo_vertical == false %}
		<li class="logos">
			<a href="{{ partner_item.partner_url}}"><img src="{{ partner_item.partner_logo_image }}"
					alt="Partner: {{ partner_item.partner_name }}" /></a>
		</li>

		{% else %}
		<li class="logos-horizontal">
			<a href="{{ partner_item.partner_url}}"><img src="{{ partner_item.partner_logo_image }}"
					alt="Partner: {{ partner_item.partner_name }}" /></a>
		</li>

		{% endif %}

		{% endfor %}

	</ul>
</div>