---
layout: greyPage
---
<div class="container">


{% for theme_item in site.theme %}

	{% assign col_item = forloop.index | modulo: 5 %}

	{% if col_item == 0 %}
		{% assign col = 5 %}
	{% else %}
		{% assign col = col_item %}
	{% endif %}

		<div class="section col-{{ col }} themeMain" id = "indexThemes">
		 	<a href="{{ theme_item.url }}.html"><div class="section themeContent">
				<h3 class ="themeTitle">{{ theme_item.issue }}</h3>
				<div class="clear"></div>
				<p class ="themeCollaborators"> <strong> {{ theme_item.organization_name }} + <br> {{ theme_item.artist_name }}</strong></p>
			</div></a>
		 	<a href="{{ theme_item.url }}.html" class="image"><img src="{{ theme_item.image_path }}" alt="{{ theme_item.issue }} : {{ theme_item.artist_name }}  and {{ theme_item.organization_name }}"></a>
		</div>

{% endfor %}

{% include rule-break-header.html %}

<script>
var startX;
var startY;
var endX;
var endY;
var treshold = 100; //threshold for noise

var slidesName = document.getElementsByClassName("themeMain");
var firstSlide = slidesName[0];

// test for mobile
function isMobileDevice() {
    return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
}; 
// || (window.innerWidth < 500) –– leave for testing purposes

// touch stuff starts
function handleTouch(start,end, cbL, cbR){ 
  var xDist = endX - startX;
  var yDist = endY - startY;
  
  console.log(xDist);
  console.log(Math.abs(endY - startY));

   if(endX - startX < -1.0*treshold && Math.abs(endY - startY) < treshold){
      cbL();
    }if (endX - startX > treshold && Math.abs(endY - startY) < treshold) {
      cbR();
    }
};


var firstTheme = 0;

// animate sliding card deck
if (isMobileDevice() == true) {

	orderThemes(firstTheme);

	function plusSlides(n) {
	  orderThemes(firstTheme += n);
	}

	function currentSlide(n) {
	  orderThemes(firstTheme = n);
	}


	 var left = () =>{   
	  console.log("You swipped left!"); 
	  plusSlides(1);
	};


	var right = () =>{
	  console.log("You swipped right!");  
	  plusSlides(-1);
	};


	function orderThemes(n) {
	  var i;
	  
	  if (n >= slidesName.length) {
	    firstTheme = 0;
	  }
	  if (n < 0) {
	    firstTheme = slidesName.length - 1;
	  }

	  for (i = 0; i < slidesName.length; i++) {
	  	var activeSlide = (firstTheme+i) % (slidesName.length);

	    slidesName[activeSlide].style.zIndex = Math.abs(i - slidesName.length);
	    slidesName[activeSlide].style.top = String(i*5) + "px";
	    slidesName[activeSlide].style.left = String(i*5) + "px";
	    
	    // console.log("active slide index:" + activeSlide);
	    
	  }


	 // console.log("this is the going number" + firstTheme);
	 
	 slidesName[firstTheme].addEventListener('touchstart', function(event){
	   console.log(event);
	   startX = event.touches[0].clientX;
	   startY = event.touches[0].clientY;
	   // console.log(`the start is at X: ${startX}px and the Y is at ${startY}px`)
	   
	  });
	 
	 slidesName[firstTheme].addEventListener('touchend', function(event){
	   console.log(event);
	   endX = event.changedTouches[0].clientX;
	   endY = event.changedTouches[0].clientY;
	   // console.log(`the start is at X: ${endX}px and the Y is at ${endY}px`)
	    
	   handleTouch(startX, endX, left, right)
	   
	  }); 
	}

}



</script>

</div> 
