@import url(//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800);
@import url(//fonts.googleapis.com/css?family=Alfa+Slab+One);
@import compass;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

footer {
  background-color: #908f8f;
  width: 100%;

}

.container {
  padding: 0 3% 0 3%;
  display: grid;
  grid-template-columns:repeat(10, 1fr);
  grid-gap: 2%;
}

.main {
  background-color: #454545;
}

.main .themeMain {
 margin-bottom: 12%;
}

.menu {
  background-color: #EF3F23;
  height: 0%;
  z-index: 1;
}

.resources {
  background-color: #EF3F23;
}

.about {
  background-color: white;
}

.col-1 {
  grid-column: 1/3;
  position: relative;  
  overflow: hidden;
}

.col-2 {
  grid-column: 3/5;
  position: relative;  
  overflow: hidden;
}

.col-3 {
  grid-column: 5/7;
  position: relative;
  overflow: hidden;
}

.col-4 {
  grid-column: 7/9;
  position: relative;
  overflow: hidden;
}

.col-5 {
  grid-column: 9/11; 
  position: relative;
  overflow: hidden;
}

.col-2-3, .about {
  grid-column: 3 / 7;
}

.col-1-5 {
  grid-column: 1 / 11;
}

.col-1-3 {
  grid-column: 1 / 7;
}

.col-4-5 {
  grid-column: 7 / 11;
  position: relative;
  overflow: hidden;
}

.col-2-5, .contact  {
  grid-column: 3 / 11;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    /*left: 0;*/
    overflow-y: hidden;
    transition: 0.5s;
}

.menuBar {
  background-color: rgb(239,66,35); 
  background-color: rgba(239,66,35,0.85); 
}



.themeContent{
  width: 100%;
  background-color: rgba(239,66,35,0.85);
  position: absolute;
  height: 50%;
  bottom: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.themeContent:hover {
  opacity: 0;
}

.rule {
  height: 5pt;
  background-color: white;
  width: 100%;
}

.ruleGrey {
  height: 5pt;
  background-color: #454545;
  width: 100%;
}

.section img{
  width: 100%;
}

 a.image {
  display: grid;  
 }

.third img{
  width: 33%;
  float: left;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*display: inline-block;*/

}

li {
  float: left;
  display: table;
}

.logos img{
  max-width: 120px;
  float: left;
  margin-right: 30px;
  text-decoration: none;
}

.logos-horizontal img {
  max-height: 50px;
  width: auto;
}

.half img{
  width: 50%;
  float: left;
}

.feature img{
  width: 75%;
}

.themeTitle, .themeCollaborators, .menuItems{
  padding: 10px;
}

.menuItems h3 {
  clear: right;
  float: none;
}

.menuItems a {
  display: inline-block;
}

.themeCollaborators {
  position: absolute;
  bottom: 0;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 35pt;
  color:#EF3F23;
  margin: 0;
  font-weight: 100;
}

h1 .red, h3 .red, h3.red{
    color: #EF3F23;
    display: inline;
    position: relative;
  }


h3.grey {
  color:#454545;
}

h3 {
  font-size: 14pt;
  float: left;
  font-family: 'Alfa Slab One', cursive;
  margin: 0;
  font-weight: 100;
  color:#FFFFFF;
}

h4 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 10px;
  color:#454545;
  margin: 0;
  font-weight: 100;
}


a {
    text-decoration: none;
    color: white;
 }

br.small {
  line-height: 50%;
}

.logo {
  width: 100%;
  display: inline-block;
  float: left;
  justify-self: right;
}

.clear {
  clear: both;
  width: 100%;
}

button {
  font-family: 'Alfa Slab One', cursive;
  background-color: #EF3F23;
  padding: 5px;
  color: white;
  text-decoration: none;
  font-weight: 100;
  min-width: 150px;
  border: none; 
  font-size: 0.9em;
}

p {  
  font-family: 'Open Sans', sans-serif;
  font-size:15px;
  font-weight: 400;
  color:#FFFFFF;
  margin:0;
}

p.grey {  
  color: #454545;
}

mark {
  font-family: 'Alfa Slab One', cursive;
  text-decoration: none;
  background-color: transparent;
  color: white;
  }

.icon, .social img{
  width: 40px;
}

.hashtag {
  width: 600px;
}

.icon {
  float: right;
}

#menuIcon {
  opacity: 1;
  transition: 0.5s;
}

.social img {
  float: left;
  display: inline;
  margin-left: 5px;
}

a.footerLinks {
  padding: 0;
  float: right;
  clear: right;
  margin: 6px 0 9px 0;
}

.plogo {
  width: 100px;
  margin-right: 2em;
  margin-bottom: 1em;
}

.st0 {
  fill:#FFFFFF;
}

.st1 {
  fill:#EF3F23;
}

.st2 {
  fill: #454545;
}

.st3 {
  stroke:#FFFFFF;
  fill:none;
  stroke-width:22;
  stroke-miterlimit:10;
}

.st4 {
  stroke:#454545;
  fill:none;
  stroke-width:22;
  stroke-miterlimit:10;
}

#e-vertical {
  position: relative;
  opacity: 1;

  -webkit-animation: ani-e-vertical 1s 1;
  
  animation-duration: ani-e-vertical 1s 1;
}


#e-point {
  position: relative;
  opacity: 1;

  -webkit-animation: ani-e-point 1s 1;
  
  animation-duration: ani-e-point 1s 1;
}

#underline-line-1{
  position: relative;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;


  -webkit-animation: uline 1s linear forwards;

  animation: uline 1s linear forwards;
}


#underline-line-2{
  position: relative;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;


  -webkit-animation: uline 2.4s linear forwards;

  animation: uline 2.4s linear forwards;
}

@-webkit-keyframes ani-e-vertical {
  from { 
    transform: translateY(0); 
    opacity: 0;
    }
  49% { 
    transform: translateY(0); 
    opacity: 0;
    }
  50% { 
    transform: translateY(-1000px); 
  }
  75% { 
    transform: translateY(-45px); 
  }
  80% { 
    transform: translateY(10px); 
  }
  90% { 
    transform: translateY(0); 
  }
}

@keyframes ani-e-vertical {
  from { 
    transform: translateY(0); 
    opacity: 0;
    }
  49% { 
    transform: translateY(0); 
    opacity: 0;
    }
  50% { 
    transform: translateY(-1000px); 
  }
  75% { 
    transform: translateY(-45px); 
  }
  80% { 
    transform: translateY(10px); 
  }
  90% { 
    transform: translateY(0); 
  }
} 

@-webkit-keyframes ani-e-point {
  from { 
    transform: translateY(0); 
    opacity: 0;
    }
  60% { 
    transform: translateY(0); 
    opacity: 0;
    }
  61% { 
    transform: translateY(7px); 
  }
  77% { 
    transform: translateY(7px); 
  }
  82% { 
    transform: translateY(0); 
  }
  87% { 
    transform: translateY(7px); 
  }
  92% { 
    transform: translateY(0); 
  }
}

@keyframes ani-e-point {
  from { 
    transform: translateY(0); 
    opacity: 0;
    }
  60% { 
    transform: translateY(0); 
    opacity: 0;
    }
  61% { 
    transform: translateY(7px); 
  }
  77% { 
    transform: translateY(7px); 
  }
  82% { 
    transform: translateY(0); 
  }
  87% { 
    transform: translateY(7px); 
  }
  92% { 
    transform: translateY(0); 
  }
}


@-webkit-keyframes uline {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes uline {
  to {
    stroke-dashoffset: 0;
  }
}


/*responsive stuff*/

@media all and (max-width: 1179px) and (min-width: 1025px) {

  p {
    font-size: 13px;
  }
}

@media all and (max-width: 1024px) and (min-width: 904px) {
  p {
    font-size: 12px;
  }
  
  h3 {
    font-size: 11pt;
  }
}

@media all and (max-width: 903px) and (min-width: 727px) {

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 22pt;
  }
  
  h3 {
    font-size: 10pt;
  }

  #topNavLogo  {
    grid-column: 1/4;
  }

  #topNavH {
    grid-column: 4/9;
  }

  .themeContent {
    height: 100%;
  }

  #footerButtons {
    grid-column: 7/11;
  }

  .logos img {
    max-width: 100px;
  }

  .logos-horizontal img {
    max-height: 40px;
  }

}

@media all and (max-width: 726px) and (min-width: 481px) {
  h1 {
    font-size: 20pt;
  }
  
  h3 {
    font-size: 11pt;
  }
  

  .themeContent {
    display: none;
  }

  #footerButtons {
    grid-column: 7/11;
  }

  #topNavLogo  {
    grid-column: 1/4;
  }

  #topNavH {
    grid-column: 4/9;
  }

  .individual .col-1, .resources .col-1, .about .col-1, .about .contact, .col-2-5, .copyright { 
    grid-column: 1/11;
  }

  .individual .col-2-3,  .resources .col-2-3, .about .col-2-3 {
    grid-column: 1/6;

  }
  .individual .col-4-5,  .resources .col-4-5, .about .col-4-5 {
    grid-column: 6/11;
  }

  .feature img {
    width: 100%;
  }

  .logos img {
    max-width: 110px;
    margin-right: 10px;
  }

  .logos-horizontal img {
    max-height: 35px;
  }

}

@media all and (max-width: 480px) and (min-width: 320px) {

  h1 {
    font-size: 20pt;
  }

  .section, .individual .section, .about .section {
    grid-column: 1/11;
  }

  .main .themeMain {
   margin-bottom: 3%;
   /*grid-column: 2/10;*/

  }

  #topNavLogo  {
    grid-column: 1/5;
  }

  #topNavH {
    display: none;
  }

  #menuButton {
    grid-column: 10;
  }

  #footerButtons {
    justify-self: left;
  }

  .feature img {
    width: 100%;
  } 

  .logos img {
    max-width: 75px;
    margin-right: 10px;
  }

  .logos-horizontal img {
    max-height: 25px;
  }

}