@import url(//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800);
@import url(//fonts.googleapis.com/css?family=Alfa+Slab+One);
/* @import compass; */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* min-height: 100%; */
  position: relative;
  /* padding-bottom: 150px; */
}

body {
  margin: 0;
}

footer {
  /* background-color: #908f8f; */
  width: 100%;
  padding-bottom: 3vw;
  /* position: absolute;
  bottom: 0;
  clear:both;
  height: 150px; */
}

.light .rule {
  background-color: #303030;
}

.light h3,
.light p {
  color: #303030;
}

.footer-content {
  padding-top: 1.5%;
}

/* maybe refine padding in terms of rem */

.container {
  display: grid;
  padding: 3vw 3vw 0 3vw;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 3vw;
}

.intro {
  padding-bottom: 2%;
  font-size: 5.5vw;
}

/* #indexAll {
  padding: 3% 3% 3% 3%;
} */

.main {
  background-color: #303030;
  /*grid-auto-flow: row dense;*/
}

.individual {
  justify-items: left;
}

.menu {
  background-color: #ef3f23;
  height: 0%;
  z-index: 1;
}

.resources {
  background-color: #ef3f23;
}

.about {
  background-color: white;
}

.col-1 {
  grid-column: 1/3;
  position: relative;
  overflow: hidden;
}

.col-2 {
  grid-column: 3/5;
  position: relative;
  overflow: hidden;
}

.col-3 {
  height: auto;
  grid-column: 5/7;
  position: relative;
  overflow: hidden;
}

.col-4 {
  height: auto;
  grid-column: 7/9;
  position: relative;
  overflow: hidden;
}

.col-5 {
  height: auto;
  grid-column: 9/11;
  position: relative;
  overflow: hidden;
}

.col-2-3,
.about {
  grid-column: 3 / 7;
}

.col-1-5 {
  grid-column: 1 / 11;
}

.col-1-3 {
  grid-column: 1 / 7;
}

.col-4-5 {
  grid-column: 7 / 11;
  position: relative;
  overflow: hidden;
}

.col-2-5,
.contact {
  grid-column: 3 / 11;
}

.copyright {
  text-align: right;
  align-self: end;
}

.artist-two {
  width: 50%;
  float: left;
  /* display: inline-block; */
}

#myNav {
  z-index: 5;
  left: 100%;
}

#myNav.active {
  left: 0;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  /*left: 0;*/
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay.active {
  /* backdrop-filter: blur(3px); */
}

.menuBar {
  background-color: #ed1c24;
  width: 50%;
  height: 100%;
  margin-left: auto;
}

.menuBar h3 {
  color: #ffffff;
}

img.mobileSwipe {
  display: none;
}

.themeContent {
  width: 100%;
  background-color: #ed1c24;
  position: absolute;
  height: 50%;
  bottom: 0;
  transform: translateY(101%);
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
}

/* hover effect only on desktop */
@media (hover: hover) and (pointer: fine) {
  .themeMain:hover .themeContent {
    transform: translateY(0);
  }
}

.rule-container {
  width: 100%;
}

.rule {
  height: 0.5rem;
  background-color: white;
  width: 100%;
}

.light .rule {
  background-color: #303030;
}

.section img {
  width: 100%;
}

.swipe {
  display: none;
}

a.image {
  display: grid;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*display: inline-block;*/
}

ul.logos {
  display: flex;
  justify-content: space-between;
}

ul.themes {
  padding-bottom: 1.5rem;
}

li.menu-item {
  padding-bottom: 0.6125rem;
  /* float: left; */
  /* display: table; */
}

.logos img {
  max-width: 160px;
  float: left;
  margin-right: 30px;
  text-decoration: none;
}

.logos-horizontal img {
  max-height: 60px;
  width: auto;
}

img.half {
  width: 50%;
  float: left;
}

img.third {
  width: 33%;
  float: left;
}

.right {
  float: right !important;
}

img#hashtagFooter {
  width: 40%;
  float: left;
}

img.two-thirds {
  width: 66%;
  float: left;
}

.feature img,
img.feature {
  width: 75%;
}

.themeTitle,
.themeCollaborators {
  padding: 10px;
}

.menuItems {
  padding: 6rem 6vw 0 6vw;
}

/* .menuItems h3 {
  clear: right;
  float: none;
} */

.menuItems a {
  display: inline-block;
}

.themeCollaborators {
  position: absolute;
  bottom: -2rem;
  /* previously 0 */
}

.intro,
h1,
h3,
#topNavH {
  font-family: "Alfa Slab One", cursive;
  font-weight: 100;
}

.intro,
h1 {
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.5rem;
}

.light .red,
.red {
  color: #ed1c24;
  /* display: inline;
    position: relative; */
}

.main-quote {
  margin-bottom: 1.25rem;
}

.white {
  color: white;
}

.grey {
  color: #303030;
}

h3 {
  font-size: 1.1875rem;
  /* float: left; */
  font-family: "Alfa Slab One", cursive;
  margin: 0;
  font-weight: 100;
  color: #ffffff;
}

#topNavH {
  font-size: 1.8125vw;
  line-height: 1.2;
}

.main #topNavH {
  color: white;
}

.light #topNavH {
  color: #303030;
}

h4 {
  font-family: "Alfa Slab One", cursive;
  font-size: 0.625rem;
  color: #303030;
  margin: 0;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  width: 100%;
  display: inline-block;
  /* float: left; */
  justify-self: right;
}

.clear {
  clear: both;
  width: 100%;
}

button {
  font-family: "Alfa Slab One", cursive;
  background-color: #ed1c24;
  padding: 5px;
  color: white;
  text-decoration: none;
  font-weight: 100;
  min-width: 150px;
  border: none;
  font-size: 0.875rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}

p strong {
  font-size: 1rem;
}
.footer-content .red {
  font-family: "Alfa Slab One", cursive;
}

/* .name {  
  line-height: 1.75;
} */

/* p.grey, .about a {  
  color: #303030;
} */

mark {
  font-family: "Alfa Slab One", cursive;
  text-decoration: none;
  background-color: transparent;
  color: white;
}

.content-text p:not(:last-child),
.content-text h3:not(:last-child) {
  margin-bottom: 3vw;
}

.icon,
img.social {
  width: 40px;
}

.hashtag {
  width: 600px;
}

.icon {
  float: right;
}

#menuIcon {
  opacity: 1;
  transition: 0.5s;
}

#menuButton {
  justify-self: end;
  z-index: 30;
  height: 2.8125rem;
}

#menu-burger {
  /* padding: 0.625rem; */
  width: fit-content;
  /* bumping up the touch area size  */
  padding-bottom: 1.25rem;
  overflow: hidden;
  /* equal to the padding of the container */
  right: 3vw;
}

#menu-burger.active {
  position: fixed;
}

.burger-line.top.active {
  animation: burgerTop 0.5s ease-in-out forwards;
}

.burger-line.bottom.active {
  animation: burgerBottom 0.5s ease-in-out forwards;
}

.burger-line.center.active {
  animation: burgerCenter 0.5s ease-in-out forwards;
}

.burger-line.top.inactive {
  animation: burgerTopReverse 0.5s ease-in-out forwards;
}

.burger-line.bottom.inactive {
  animation: burgerBottomReverse 0.5s ease-in-out forwards;
}

.burger-line.center.inactive {
  animation: burgerCenterReverse 0.5s ease-in-out forwards;
}

.burger-line {
  background-color: #ffffff;
  transform-origin: center;
}

.light .burger-line {
  background-color: #303030;
}

.burger-line.active {
  background-color: white;
}

.burger-line {
  width: 2.5rem;
  height: 0.375rem;
  margin-top: 0.3125rem;
  display: block;
}

/* img.social {
  float: left;
  display: inline;
  margin-left: 5px;
} */
/* 
a.footerLinks {
  padding: 0;
  float: right;
  clear: right;
  margin: 6px 0 9px 0;
} */

.plogo {
  width: 100px;
  margin-right: 2em;
  margin-bottom: 1em;
}

.main .st0 {
  fill: #ffffff;
}

.light .st0 {
  fill: #303030;
}

.st1 {
  fill: #ed1c24;
}

.main .st2 {
  fill: #303030;
}

.light .st2 {
  fill: #ffffff;
}

.main .st3 {
  stroke: #ffffff;
}

.light .st3 {
  stroke: #303030;
}

.st3 {
  fill: none;
  stroke-width: 22;
  stroke-miterlimit: 10;
}

#e-vertical {
  position: relative;
  opacity: 1;
  /* -webkit-animation: ani-e-vertical 1s 1; */
  animation-duration: ani-e-vertical 1s 1;
}

#e-point {
  position: relative;
  opacity: 1;
  /* -webkit-animation: ani-e-point 1s 1; */
  animation-duration: ani-e-point 1s 1;
}

#underline-line-1 {
  position: relative;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: uline 1s linear forwards;
  animation: uline 1s linear forwards;
}

#underline-line-2 {
  position: relative;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: uline 2.4s linear forwards;
  animation: uline 2.4s linear forwards;
}

#indexAll::-webkit-scrollbar {
  display: none !important;
}

.custom-break {
  display: block;
}

.theme-break {
  display: block;
}

@-webkit-keyframes ani-e-vertical {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  49% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-1000px);
  }
  75% {
    transform: translateY(-45px);
  }
  80% {
    transform: translateY(10px);
  }
  90% {
    transform: translateY(0);
  }
}

@keyframes ani-e-vertical {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  49% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-1000px);
  }
  75% {
    transform: translateY(-45px);
  }
  80% {
    transform: translateY(10px);
  }
  90% {
    transform: translateY(0);
  }
}

@-webkit-keyframes ani-e-point {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  60% {
    transform: translateY(0);
    opacity: 0;
  }
  61% {
    transform: translateY(7px);
  }
  77% {
    transform: translateY(7px);
  }
  82% {
    transform: translateY(0);
  }
  87% {
    transform: translateY(7px);
  }
  92% {
    transform: translateY(0);
  }
}

@keyframes ani-e-point {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  60% {
    transform: translateY(0);
    opacity: 0;
  }
  61% {
    transform: translateY(7px);
  }
  77% {
    transform: translateY(7px);
  }
  82% {
    transform: translateY(0);
  }
  87% {
    transform: translateY(7px);
  }
  92% {
    transform: translateY(0);
  }
}

@-webkit-keyframes uline {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes uline {
  to {
    stroke-dashoffset: 0;
  }
}

#topNavLogo {
  align-self: center;
}

/* #topNavH {
  padding-top: 0.5rem;
} */

/*responsive stuff*/

@media (min-width: 1200px) and (max-width: 1499.98px) {
  p {
    font-size: 0.8125rem;
  }
  .logos img {
    max-width: 225px;
  }
  .logos-horizontal img {
    max-height: 100px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  p {
    font-size: 0.75rem;
  }
  h3 {
    font-size: 0.9375rem;
  }
  .logos img {
    max-width: 100px;
  }
  .logos-horizontal img {
    max-height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  p {
    font-size: 0.75rem;
  }
  h1 {
    font-size: 2.4375rem;
  }
  h3 {
    font-size: 0.9375rem;
  }
  button {
    font-size: 0.7em;
    min-width: 110px;
  }
  #topNavLogo {
    grid-column: 1/4;
  }
  #topNavH {
    grid-column: 4/9;
  }
  /* #topNavH h3 {
    padding-top: 0.5rem;
  } */
  .themeContent {
    height: 100%;
  }
  #footerButtons {
    grid-column: 7/11;
  }
  .logos img {
    max-width: 80px;
  }
  .logos-horizontal img {
    max-height: 30px;
  }
  img#hashtagFooter {
    width: 60%;
  }
  .themeMain {
    top: 0 !important;
    left: 0 !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* footer {
    height: 200px;
  } */

  #topNavH {
    /* font-size: 2.125vw; */
    display: none;
  }

  .theme-break {
    display: inline;
  }

  .container {
    padding: 4vw 3vw 0 3vw;
  }

  .intro {
    font-size: 5.5vw;
  }

  h1 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  button {
    font-size: 0.6em;
    min-width: 100px;
  }
  .themeContent {
    display: none;
  }
  #footerButtons {
    grid-column: 7/11;
  }
  #topNavLogo {
    grid-column: 1/4;
  }
  #topNavH {
    grid-column: 4/9;
  }
  .individual .col-1,
  .resources .col-1,
  .about .col-1,
  .about .contact,
  .col-2-5,
  .copyright {
    grid-column: 1/11;
  }
  .individual .col-2-3,
  .resources .col-2-3,
  .about .col-2-3 {
    grid-column: 1/6;
  }
  .about-short.col-2-3 {
    grid-column: 1/11;
  }

  .individual .col-4-5,
  .resources .col-4-5,
  .about .col-4-5 {
    grid-column: 6/11;
  }

  .individual .col-1.theme-collaborators {
    grid-column: 6/11;
    grid-row: 1;
    align-self: end;
  }

  .theme-img {
    grid-row: 1;
  }

  .theme-quote {
    grid-row: 1;
    align-self: start;
  }

  .feature img,
  img.feature {
    width: 100%;
  }
  .logos img {
    max-width: 25vw;
    margin-right: 10px;
  }
  .logos-horizontal img {
    max-height: 9vw;
  }
  /* img#hashtagFooter {
    width: 85%;
    margin-right: 15%;
  } */
  .themeMain {
    top: 0 !important;
    left: 0 !important;
  }

  .footer-content {
    grid-column: 1/11;
    text-align: center;
  }
  .copyright {
    padding: 0;
    text-align: center;
  }

  .menuBar {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  /* footer {
    height: 250px;
  } */

  #indexAll {
    display: grid !important;
    grid-auto-flow: column !important;
    overflow: auto hidden !important;
    scroll-snap-type: x mandatory !important;
    gap: 3vw !important;
    grid-auto-columns: calc(100% - 135px) !important;
    grid-template-columns: none;
    margin: 0px -24px;
    width: 100%;
  }

  .intro {
    font-size: 5.8vw;
    padding: 3% 0;
    line-height: 1.2;
  }

  #indexAll:nth-child(n) > * {
    scroll-snap-align: start !important;
  }

  .container.menu-header {
    padding: 6vw 3vw 0 3vw;
  }
  /* h1 {
    font-size: 20pt;
  } */
  /* .indexThemes {
    grid-column: 2/9;
    grid-row: 1;
    margin: 0 0 12% 0;
  } */
  .section,
  .individual .section,
  .about .section {
    grid-column: 1/11;
  }
  .main .themeMain {
    padding: 3vw 0;
    margin-bottom: 0;
    grid-column: auto !important;
    /*grid-column: 2/10;*/
  }

  .about .rule-container,
  .individual .rule-container {
    padding: 3vw 0;
  }

  .about .content-chunk,
  .individual .content-chunk {
    padding-bottom: 6vw;
  }

  .copyright {
    padding-top: 0;
    text-align: left;
  }

  .about .img-feature-container,
  .artist-two {
    padding-top: 3vw;
  }

  footer {
    padding-bottom: 6vw;
  }

  button {
    font-size: 0.625rem;
    min-width: 110px;
  }
  #topNavLogo {
    grid-column: 1/5;
  }
  #topNavH {
    display: none;
  }
  #menuButton {
    grid-column: 9/11;
  }
  #footerButtons {
    justify-self: left;
  }
  .feature img,
  img.feature {
    width: 100%;
  }
  img#hashtagFooter {
    width: 75%;
    clear: right;
    display: block;
    margin-right: 25%;
  }
  .logos img {
    max-width: 34vw;
    margin-right: 10px;
  }
  .logos-horizontal img {
    max-height: 11vw;
  }

  .menuBar {
    width: 100%;
  }

  h1 {
    font-size: 3rem;
  }

  /* html{
    min-height: 100vh !important;
  } */
}

@keyframes burgerTop {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-45deg) translateY(0.375rem) translateX(-0.5625rem);
  }
}

@keyframes burgerCenter {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes burgerBottom {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-135deg) translateY(0.375rem) translateX(0.5625rem);
  }
}

@keyframes burgerTopReverse {
  0% {
    transform: rotateZ(-45deg) translateY(0.375rem) translateX(-0.5625rem);
  }
  100% {
    transform: rotateZ(0deg) translateY(0) translateX(0);
  }
}

@keyframes burgerCenterReverse {
  0% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes burgerBottomReverse {
  0% {
    transform: rotateZ(-135deg) translateY(0.375rem) translateX(0.5625rem);
  }
  100% {
    transform: rotateZ(0) translateY(0) translateX(0);
  }
}

/* translateX(25%) */
/* translateX(-24%) */
