<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>

<head>
    <title>Amplify</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description"
        content="Leveraging the power of art and design to advance the front lines of social justice">
    </meta>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta property="og:title" content="Amplify">
    <meta property="og:description"
        content="Leveraging the power of art and design to advance the front lines of social justice">
    <meta property="og:image" content="https://amplify-img.s3.amazonaws.com/amplify-meta-img.png">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="Amplify">
    <meta name="twitter:description"
        content="Leveraging the power of art and design to advance the front lines of social justice">
    <meta name="twitter:image" content="https://amplify-img.s3.amazonaws.com/amplify-meta-img.png">
    <link href="style-404.css" rel="stylesheet">

    {% include ganalytics.html %}
</head>

<body>
    <div class="graphic">
    </div>
    <div class="container">
        <div class="img-parent">
        <div class="img-container">
            <img src="/img/404.svg" alt="large 404">
        </div>
    </div>
        <div class="message">
            <div class="message-container">
                <h1>Page not found</h1>
                <p>It might be us. It might be you. Either way, this page isn’t available.</p>
                <a href="/"><button>Go home</button></a>
            </div>
        </div>
        <!-- <div class="graphic-dup">
            <div class="img-container">
                <img src="./img/404.svg" alt="large 404">
            </div>
        </div> -->
    </div>
</body>

</html>